
// color palette from lightest to darkest
$color5: #DBE9EE;
$color4: #C0D6DF;
$color3: #4A6FA5;
$color2: #166088;
$color1: #4F6D7A;

body {
    background-color: $color5;
    color: $color1;
}

a {
    color: $color3;
    &:hover {
        color: $color2;
    }
}

p {
    margin-bottom: 0px;
}

.header {
    font-size: 24px;
    * {
        font-size: 24px;
    }
}

.actualNotes {
    margin-top: 20px;
    .list-group-item {
        padding: 30px 20px;
    }
}

.actualNotes li {
    height: 40px;
}

.alignItemsInContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.contentContainer {
    width: 99%;
    margin: 20px auto 0px;
    background-color: #fff;
    padding: 40px;
    border-radius: 3px;
}

.narrowContainer {
    max-width: 600px;
}

@media (max-width: 400px) {
  .contentContainer {
    padding: 20px;
    width: 100%;
  }

}

.loginForm {
    margin-bottom: 20px;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
